//colors

$color-primary-dark: #274046;
$color-primary-light: #e6dada;
$color-button-header: rgb(255, 0, 0);
$color-button-header-light: rgb(240, 106, 106);
$color-gray: rgb(119, 119, 119);
$color-gray-light-1: #f4f4f4;
$color-gray-light-2: #f4f2f2;

$color-white: #faf9f9;
$color-black: #000;

$color-secondary-light: #ee4540;
$color-secondary-dark: #c72c41;

$color-tertiary-dark: #28b485;
$color-tertiary-light: #7ed56f;
$color-tertiary: #55c57a;

$color-forth-light: #ffb900;
$color-forth-dark: #ff7730;

$color-fifth-light: #2998ff;
$color-fifth-dark: #5346fa;

$color-sixth-light: #4dd599;
$color-sixth-dark: #1f6650;

$color-seventh-light: #bac7a7;
$color-seventh-dark: #889e81;

$color-eighth-light: #64b2cd;
$color-eighth-dark: #3c70a4;

$color-ninth-dark: #333;

//font-size
$default-font-size: 1.1rem;
$default-font-size-paragraph: 1rem;
//GRID
$grid-width: 120rem;
$gutter-vertical: 6rem; //space in between rows
$gutter-vertical-small: 4rem; //for media queries
$gutter-horizontal: 2.5rem; //space in between columns
